{% extends 'Base.html' %}
{% load crispy_forms_tags %}

{% block title%}
    <title>Laptop Form</title>
{% endblock %}

{% block content %}
<div class="container jumbotron">
    <form method="post">
        {% csrf_token %}
       <center><h1>Employee Details</h1></center> 
        
        {{form|crispy}}
        <input type="submit" value="ADD Employee" class="btn btn-success btn-lg">
        <input type="reset" value="RESET" class="btn btn-warning float-right btn-lg">

    </form>
</div>

{% endblock %}